.photo-grid{
  max-width: 1190px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px 16px;
  margin: 26px auto 92px;
}

.photo-grid__item{
  width: 100%;
}